
# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
pen-env/
.credentials
.env
backend/test
static/images/google_street_view/street_view.jpg
backend/utils/google_maps.py
backend/__pycache__/
__pycache__/
*.pycc