files:
    /etc/pki/tls/certs/server.crt:
        mode: "000400"
        owner: root
        group: root
        content: |
            -----BEGIN CERTIFICATE-----
            MIIG7DCCBNSgAwIBAgIQfJPLJ4zzm3NJyPHo4HzGjzANBgkqhkiG9w0BAQwFADBL
            MQswCQYDVQQGEwJBVDEQMA4GA1UEChMHWmVyb1NTTDEqMCgGA1UEAxMhWmVyb1NT
            TCBSU0EgRG9tYWluIFNlY3VyZSBTaXRlIENBMB4XDTI0MDgwNjAwMDAwMFoXDTI1
            MDgwNjIzNTk1OVowHTEbMBkGA1UEAxMScGVuLmRhdGF1cGxvYWQueHl6MIIBIjAN
            BgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEA0PaXlARdAf+Dmn/kOtCwyQOKnmMR
            E+WkkFW+Omk/hSVNGfH8A4RDQdPjfkCnlKR2pax1V5WqYwc55JQ6NWHUNHaPrEV4
            ImEKmoBpfKiYhnc1VVEZdLoIvdAUwJegMTlwYqHENBlTvUsPQ/qVjR6m01e+mhZC
            KZvZh7s5+qVQZu0tQAolAKBqZGOlRP+dItgKW5mCkPOWa8xa0seaCmtyEP06PBrv
            uzhSKuWAysCo2lv54xqdRm3vK4rLUviqgRKUKoOwkwiodgOU9EzMfaTyJ5lmhjp/
            xTm1TX0GfCpygF1beHdbsJOeIN2DzBAazLRxIeV2dPdSVKODaD3eOOOcHQIDAQAB
            o4IC+DCCAvQwHwYDVR0jBBgwFoAUyNl4aKLZGWjVPXLeXwo+3LWGhqYwHQYDVR0O
            BBYEFGPh99ES5B9kjYdwa/NrfZWE7524MA4GA1UdDwEB/wQEAwIFoDAMBgNVHRMB
            Af8EAjAAMB0GA1UdJQQWMBQGCCsGAQUFBwMBBggrBgEFBQcDAjBJBgNVHSAEQjBA
            MDQGCysGAQQBsjEBAgJOMCUwIwYIKwYBBQUHAgEWF2h0dHBzOi8vc2VjdGlnby5j
            b20vQ1BTMAgGBmeBDAECATCBiAYIKwYBBQUHAQEEfDB6MEsGCCsGAQUFBzAChj9o
            dHRwOi8vemVyb3NzbC5jcnQuc2VjdGlnby5jb20vWmVyb1NTTFJTQURvbWFpblNl
            Y3VyZVNpdGVDQS5jcnQwKwYIKwYBBQUHMAGGH2h0dHA6Ly96ZXJvc3NsLm9jc3Au
            c2VjdGlnby5jb20wHQYDVR0RBBYwFIIScGVuLmRhdGF1cGxvYWQueHl6MIIBfgYK
            KwYBBAHWeQIEAgSCAW4EggFqAWgAdgDd3Mo0ldfhFgXnlTL6x5/4PRxQ39sAOhQS
            dgosrLvIKgAAAZEmsqq4AAAEAwBHMEUCIQCRxcnlgvHHl4o35K/2frS8G4vxKkMF
            YqUPsTXrV6JwhwIgaLYUmLZYdpIFzBEnK2GvSjZgHbIGqJfKqtX0l8kBxRYAdQAN
            4fIwK9MNwUBiEgnqVS78R3R8sdfpMO8OQh60fk6qNAAAAZEmsqqbAAAEAwBGMEQC
            IEzVdpO91BAdHZP3PlFfB3R9bxJTIsoclYfdaKIkindqAiAwgrOa8+1i6O6g+Fwf
            qJjl6adnmyVApOE20FjvKePTawB3ABLxTjS9U3JMhAYZw48/ehP457Vih4icbTAF
            hOvlhiY6AAABkSayqpkAAAQDAEgwRgIhALlwkSJBjO2fQls4wM/3CBz/0XpXY+zw
            FlqprLDxk2mYAiEAh1GWyR5jR7mwjXXxHZ46Kttb1txx/rCfbiNj6USU+n8wDQYJ
            KoZIhvcNAQEMBQADggIBAFLIxKDfLB2F7Ua9ADatWqOV79r95HcCMmIMR43JcmbL
            OFz4QDPe1MP14zmUwEifLYdnWSuszaelGc72p1KIUBeywGZCHkXJFvYcWVdUwZe5
            qi+hquymtURjkueLhXdfniUjSUmSUdFggq6mmWdLq51R97hlSvW04dn8epKO1nEN
            8cD28RcX7vMX2ZL6oYA/LsVAzWqZFJnO/9qefJT7vnp3XNrepeBHyZAOI3fKDohI
            aWfCVqN5xYxorp+fAeCr0JegVhI8biorNfWj6MZSYq484euwmWsFFlW8SSuvLS+M
            ZHWE4hhBN4I8/dYHBjqehovS257Ogrv6FUQ1i7EH9C4jdyZK1RvQ09Do5WX13WjX
            Xdoo53DRmD0wWOXlCXK9nE0JvwDM3mpKXEtx7+U19Xw0g80otTY5ExMuAnkwQAiJ
            dn+0gWeU3ZDfXLcpKOPG58IgfjoGdmWelj3Eyn+0IygFxD/uj1pPZKIpsxMDPjB8
            6eBqUCiJc9ZNze8/iQ+PZV9+AXSVzHM1irQUqsV/U8KcyOBVYRWfF2NXD9YM+UVM
            +fu1fWMWDz1zLhzDTI9lEXMtUiPPguiqqmnXTkFBY6m4InWwUKUyMbus9q8Up6Do
            T/NIZ3hnJVHt1hW3Py2Hsa8OOxg5MF3B0OxXi0PLD5kWf0JsYEcU+BCUT5FukK8m
            -----END CERTIFICATE-----
            -----BEGIN CERTIFICATE-----
            MIIG1TCCBL2gAwIBAgIQbFWr29AHksedBwzYEZ7WvzANBgkqhkiG9w0BAQwFADCB
            iDELMAkGA1UEBhMCVVMxEzARBgNVBAgTCk5ldyBKZXJzZXkxFDASBgNVBAcTC0pl
            cnNleSBDaXR5MR4wHAYDVQQKExVUaGUgVVNFUlRSVVNUIE5ldHdvcmsxLjAsBgNV
            BAMTJVVTRVJUcnVzdCBSU0EgQ2VydGlmaWNhdGlvbiBBdXRob3JpdHkwHhcNMjAw
            MTMwMDAwMDAwWhcNMzAwMTI5MjM1OTU5WjBLMQswCQYDVQQGEwJBVDEQMA4GA1UE
            ChMHWmVyb1NTTDEqMCgGA1UEAxMhWmVyb1NTTCBSU0EgRG9tYWluIFNlY3VyZSBT
            aXRlIENBMIICIjANBgkqhkiG9w0BAQEFAAOCAg8AMIICCgKCAgEAhmlzfqO1Mdgj
            4W3dpBPTVBX1AuvcAyG1fl0dUnw/MeueCWzRWTheZ35LVo91kLI3DDVaZKW+TBAs
            JBjEbYmMwcWSTWYCg5334SF0+ctDAsFxsX+rTDh9kSrG/4mp6OShubLaEIUJiZo4
            t873TuSd0Wj5DWt3DtpAG8T35l/v+xrN8ub8PSSoX5Vkgw+jWf4KQtNvUFLDq8mF
            WhUnPL6jHAADXpvs4lTNYwOtx9yQtbpxwSt7QJY1+ICrmRJB6BuKRt/jfDJF9Jsc
            RQVlHIxQdKAJl7oaVnXgDkqtk2qddd3kCDXd74gv813G91z7CjsGyJ93oJIlNS3U
            gFbD6V54JMgZ3rSmotYbz98oZxX7MKbtCm1aJ/q+hTv2YK1yMxrnfcieKmOYBbFD
            hnW5O6RMA703dBK92j6XRN2EttLkQuujZgy+jXRKtaWMIlkNkWJmOiHmErQngHvt
            iNkIcjJumq1ddFX4iaTI40a6zgvIBtxFeDs2RfcaH73er7ctNUUqgQT5rFgJhMmF
            x76rQgB5OZUkodb5k2ex7P+Gu4J86bS15094UuYcV09hVeknmTh5Ex9CBKipLS2W
            2wKBakf+aVYnNCU6S0nASqt2xrZpGC1v7v6DhuepyyJtn3qSV2PoBiU5Sql+aARp
            wUibQMGm44gjyNDqDlVp+ShLQlUH9x8CAwEAAaOCAXUwggFxMB8GA1UdIwQYMBaA
            FFN5v1qqK0rPVIDh2JvAnfKyA2bLMB0GA1UdDgQWBBTI2XhootkZaNU9ct5fCj7c
            tYaGpjAOBgNVHQ8BAf8EBAMCAYYwEgYDVR0TAQH/BAgwBgEB/wIBADAdBgNVHSUE
            FjAUBggrBgEFBQcDAQYIKwYBBQUHAwIwIgYDVR0gBBswGTANBgsrBgEEAbIxAQIC
            TjAIBgZngQwBAgEwUAYDVR0fBEkwRzBFoEOgQYY/aHR0cDovL2NybC51c2VydHJ1
            c3QuY29tL1VTRVJUcnVzdFJTQUNlcnRpZmljYXRpb25BdXRob3JpdHkuY3JsMHYG
            CCsGAQUFBwEBBGowaDA/BggrBgEFBQcwAoYzaHR0cDovL2NydC51c2VydHJ1c3Qu
            Y29tL1VTRVJUcnVzdFJTQUFkZFRydXN0Q0EuY3J0MCUGCCsGAQUFBzABhhlodHRw
            Oi8vb2NzcC51c2VydHJ1c3QuY29tMA0GCSqGSIb3DQEBDAUAA4ICAQAVDwoIzQDV
            ercT0eYqZjBNJ8VNWwVFlQOtZERqn5iWnEVaLZZdzxlbvz2Fx0ExUNuUEgYkIVM4
            YocKkCQ7hO5noicoq/DrEYH5IuNcuW1I8JJZ9DLuB1fYvIHlZ2JG46iNbVKA3ygA
            Ez86RvDQlt2C494qqPVItRjrz9YlJEGT0DrttyApq0YLFDzf+Z1pkMhh7c+7fXeJ
            qmIhfJpduKc8HEQkYQQShen426S3H0JrIAbKcBCiyYFuOhfyvuwVCFDfFvrjADjd
            4jX1uQXd161IyFRbm89s2Oj5oU1wDYz5sx+hoCuh6lSs+/uPuWomIq3y1GDFNafW
            +LsHBU16lQo5Q2yh25laQsKRgyPmMpHJ98edm6y2sHUabASmRHxvGiuwwE25aDU0
            2SAeepyImJ2CzB80YG7WxlynHqNhpE7xfC7PzQlLgmfEHdU+tHFeQazRQnrFkW2W
            kqRGIq7cKRnyypvjPMkjeiV9lRdAM9fSJvsB3svUuu1coIG1xxI1yegoGM4r5QP4
            RGIVvYaiI76C0djoSbQ/dkIUUXQuB8AL5jyH34g3BZaaXyvpmnV4ilppMXVAnAYG
            ON51WhJ6W0xNdNJwzYASZYH+tmCWI+N60Gv2NNMGHwMZ7e9bXgzUCZH5FaBFDGR5
            S9VWqHB73Q+OyIVvIbKYcSc2w/aSuFKGSA==
            -----END CERTIFICATE-----
    /etc/pki/tls/certs/server.key:
        mode: "000400"
        owner: root
        group: root
        content: |
            -----BEGIN RSA PRIVATE KEY-----
            MIIEpAIBAAKCAQEA0PaXlARdAf+Dmn/kOtCwyQOKnmMRE+WkkFW+Omk/hSVNGfH8
            A4RDQdPjfkCnlKR2pax1V5WqYwc55JQ6NWHUNHaPrEV4ImEKmoBpfKiYhnc1VVEZ
            dLoIvdAUwJegMTlwYqHENBlTvUsPQ/qVjR6m01e+mhZCKZvZh7s5+qVQZu0tQAol
            AKBqZGOlRP+dItgKW5mCkPOWa8xa0seaCmtyEP06PBrvuzhSKuWAysCo2lv54xqd
            Rm3vK4rLUviqgRKUKoOwkwiodgOU9EzMfaTyJ5lmhjp/xTm1TX0GfCpygF1beHdb
            sJOeIN2DzBAazLRxIeV2dPdSVKODaD3eOOOcHQIDAQABAoIBAEtfVudd94pb9sVI
            sjMAyXOIInzk8OkDYStqshXxlqbZAImGPkeqcnQRELKecZPtCprRrPWtl2rm1Vv8
            l05f/iH6TfJukFmeNSvre6EqUvHVl9gxS4ROAg8tOf8J8g8vT7lT7ih4pjrWEyiK
            /1yKnNQIh0ifFLhbbchGoTAmZuzoontHu5lTgUyMTatbuU5Gic1tkbwoPPkANm8T
            DwFJmph91eIygBfueBNd3wgMqa+09I2biiQFAxwri/a42EsDWyPfnV0evLoicJUt
            TR1lGp/2MtkFFIE4c1cRnJ8cLAcEb/2muifSuybesOK9gppq9yZXW9MTpca5CRC6
            CquBE+UCgYEA/CG6WvusaTZQ3ofPkbdXpADXW1dpumXhm+j5Tq2aCHBTK0sqtoIo
            /hUP9E5ICZUGGymrimKJSySaSnYlJ3a7DWem/ZonMkh6Y4BjkNp4iz6zdTk+cvg9
            /UwGkBmi6aShtM8aNaDk1gg3R5HvzuFvzA1I9bmShb/aSS3WpFogBIMCgYEA1CtQ
            zvT9Pwx2cwIttYUVKidCg6WuzDWY949D719eANQyj5iTaTnEvsTiP16pJDXld5lj
            YW5TZKwVSjl8a54aryyzunKMu5jEtytlx9RQzMhhAwP48nL6sdlRbb7zfjX4gJKz
            XWqAK+Ufvt7GRwvm/BIw2vACbMzweeBEg1T+Ot8CgYEA7rpsvhsQK2qvdZS4N+uW
            QwY84xLIXCJ9VOdpr1J2x0i7pwF8BuUFNVbyDUtVsCT3bB6ves9D2e9lW92z3kLw
            Z4feOL+OH3E62R3GqHADtSyANR0ngSqFX2Ft0WFEvN8R8aYq1d5q7jFHTi/jFUql
            VVq621eDYbq/T4zkcCeZq0sCgYAohO012QvUUqj8Zdoc5IGaP00wnx+22DWSccXj
            nS7ysZPGYLkmS2YLmMYsnANpavGb2atlHBDJFSQrvLbKRrOJ6NuaK+48lXxcDumt
            NBsKQOpmDQgqJVNDS+GFOAaAgAYpZ9rhaEl6GJPre9gaEWfXlBHIfjW4WZtDa1Uq
            T70NuQKBgQCjJ3ltwwYPMmulccM3kNNlEy6cu8AykBdLduoUubiHaKl+lAd2ISrk
            +V/mO5qI85hU7eL/xZda3LUIs8qVfuIsAwnit8wH2g2pwwylJTDk+1kWbbMk3o+G
            dCJtxDFBt7/0XgnBj4WxNF5z/Z1pnyBYXgOjqWuYbRIAKjXkl2D4VQ==
            -----END RSA PRIVATE KEY-----
