container_commands:
    get_vars_json:
        command: "/opt/elasticbeanstalk/bin/get-config environment > /tmp/environment.json && jq -r 'to_entries|map(\"export \\(.key)=\\(.value|tostring)\")|.[]' /tmp/environment.json > /tmp/environment"

packages:
    yum:
        jq: []

files:
    "/etc/cron.d/cron":
        mode: "000644"
        owner: root
        group: root
        content: |
            */10 * * * * root /usr/local/bin/every_ten.sh
            0 * * * * root /usr/local/bin/every_hour.sh

    "/usr/local/bin/every_ten.sh":
        mode: "000755"
        owner: root
        group: root
        content: |
            #!/bin/bash
            echo "This cron job is running at every minute." >> /var/log/cron.log 2>&1
            source /tmp/environment
            cd /var/app/current
            source ../venv/staging-LQM1lest/bin/activate
            python -m backend.cron.kp_status_change >> /var/log/cron.log 2>&1
            sleep 60
            python -m backend.cron.szamlazz_hu >> /var/log/cron.log 2>&1            
            sleep 60
            python -m backend.cron.felmeres_todo >> /var/log/cron.log 2>&1
            sleep 60
            python -m backend.cron.close_felmeres >> /var/log/cron.log 2>&1
            sleep 60
            python -m backend.cron.create_order >> /var/log/cron.log 2>&1
            sleep 60
            python -m backend.cron.beepites_todo >> /var/log/cron.log 2>&1
            sleep 60
            python -m backend.cron.calculate_distance >> /var/log/cron.log 2>&1
            exit 0

    "/usr/local/bin/every_hour.sh":
        mode: "000755"
        owner: root
        group: root
        content: |
            #!/bin/bash
            echo "This cron job is running at every minute." >> /var/log/cron.log 2>&1
            source /tmp/environment
            cd /var/app/current
            source ../venv/staging-LQM1lest/bin/activate
            python -m backend.cron.erp_status_sync >> /var/log/cron.log 2>&1
            python -m backend.cron.erp_order_id >> /var/log/cron.log 2>&1
            exit 0