files:
  "/etc/cron.d/cron_example":
    mode: "000644"
    owner: root
    group: root
    content: |
      * * * * * root /usr/local/bin/every_ten.sh

  "/usr/local/bin/every_ten.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
        #!/bin/bash
        echo "This cron job is running at every minute." >> /var/log/cron.log 2>&1
        /opt/elasticbeanstalk/bin/get-config environment | jq -r 'to_entries | .[] | "export \(.key)=\"\(.value)\""' > /etc/profile.d/sh.local
        rm -f /tmp/environment
        printenv | sed 's/^\(.*\)$/export \1/g' > /tmp/environment
        source /tmp/environment
        cd /var/app/current
        source ../venv/staging-LQM1lest/bin/activate
        python -m backend.cron.kp_status_change >> /var/log/cron.log 2>&1
        exit 0