container_commands:
    get_vars_json:
        command: "/opt/elasticbeanstalk/bin/get-config environment > /tmp/environment.json"
    dump_vars:
        command: 'jq -r ''to_entries|map("export (.key)=(.value|tostring)")|.[]'' /tmp/environment.json > /tmp/environment'

packages:
    yum:
        jq: []

files:
    "/etc/cron.d/cron":
        mode: "000644"
        owner: root
        group: root
        content: |
            * * * * * root /usr/local/bin/every_ten.sh

    "/usr/local/bin/every_ten.sh":
        mode: "000755"
        owner: root
        group: root
        content: |
            #!/bin/bash
            echo "This cron job is running at every minute." >> /var/log/cron.log 2>&1
            source /tmp/environment
            cd /var/app/current
            source ../venv/staging-LQM1lest/bin/activate
            python -m backend.cron.kp_status_change >> /var/log/cron.log 2>&1
            python -m backend.cron.szamlazz_hu >> /var/log/cron.log 2>&1            exit 0
