files:
    "/opt/elasticbeanstalk/hooks/appdeploy/post/export_env_vars.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
        #!/bin/bash
        # Remove the old file
        rm -f /tmp/environment
        # Write the current environment variables to a file
        printenv | sed 's/^\(.*\)$/export \1/g' > /tmp/environment