option_settings:
    aws:elasticbeanstalk:environment:process:default:
        Port: 443
        Protocol: HTTPS
    aws:elasticbeanstalk:environment:proxy:
        ProxyServer: nginx

files:
    "/etc/nginx/conf.d/ssl.conf":
        mode: "000644"
        owner: root
        group: root
        content: |
            server {
              listen 443 ssl;
              server_name  _;

              ssl_certificate /etc/pki/tls/certs/server.crt;
              ssl_certificate_key /etc/pki/tls/private/server.key;

              ssl_protocols       TLSv1.2;
              ssl_ciphers         HIGH:!aNULL:!MD5;
              ssl_prefer_server_ciphers on;

              location / {
                proxy_pass        http://localhost:80;
                proxy_set_header  X-Forwarded-For $proxy_add_x_forwarded_for;
                proxy_set_header  Host $host;
                proxy_set_header  X-Forwarded-Proto $scheme;
              }
            }
